@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Smooch+Sans&display=swap');

$background:    rgb(216, 216, 216);
$text-color:    rgb(21, 44, 21);
$darkblue:      rgb(28, 28, 51);
$red:           rgb(202, 40, 40);
$blue:          rgb(104, 104, 158);
$yellow:        rgb(233, 233, 108);
$font-body:     'Smooch Sans';
$font-headings: 'Montserrat';

$color-item-border: $red;
$color-media-head:  $blue;